legacy-peer-deps=true
force=true
strict-peer-dependencies=false
@mui:registry=https://registry.npmjs.org/
@mui/x-date-pickers:registry=https://registry.npmjs.org/
@mui/material:registry=https://registry.npmjs.org/
