@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-width: 16rem;
}

@layer base {
  body {
    @apply text-gray-800 antialiased;
  }
}

@layer components {
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
  
  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Smooth transition for main content padding */
@media (min-width: 1024px) {
  main {
    padding-left: var(--sidebar-width);
  }
}